MONGO_URL=mongodb+srv://bestgoofstep:g8tcal1G@cluster0.6cdg2ef.mongodb.net/natural-travels-db?appName=Cluster0
PORT=4000
NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=beststep.in.ua@gmail.com
SMTP_PASSWORD=hmxt zepm ehxn qlsu
SMTP_FROM=beststep.in.ua@gmail.com

JWT_SECRET=hRHRk5FEJQAGvegvPZALKRKkUo6mAuBXhQRH2cGlrTB

FRONTEND_DOMAIN=localhost

CLOUDINARY_CLOUD_NAME=dfqoiqr20
CLOUDINARY_API_KEY=867573694725428
CLOUDINARY_API_SECRET=0ZHzIbsnee_evReZJYQLLqnUDa4